body {
    margin: 0;
    padding: 0;
}

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #90a2ac;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 1024px;
    height: 1000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    width: 50%;
}

.name {
    width: 50%;
    height: 350px;
    background-image: url("./assets/img/photo.JPG");
    background-position: 50%;
}

.name h1, .name p, h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 15px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.objective {
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}

.objective p {
    padding: 20px;
}

.contacts {
    float: left;
    padding-right: 35px;
}

.contacts li {
    list-style: none;
    font-size: 20px;
    margin: 10px;
}

li {
    font-size: 20px;
    margin: 10px;
}

.skills {
    float: right;
    padding-right: 15px;
}

.english {
    width: 50%;
    text-align: center;
}

.education {
    padding-left: 40px;
}